<div class="container mt-5">
  <h1>Job offers</h1>
  <div class="row mt-3">

    <div class="col-md-5 mb-5">
      <div>
        <input type="text" class="form-control" [(ngModel)]="searchString" (keyup.enter)="submitSearch()"
          placeholder="Search Job Offers..." autofocus />
      </div>


      <a [routerLink]="'/jobs/' + job.id " *ngFor="let job of jobs">
        <hr />
        <h6 class="mb-0">{{job.position}}</h6>
        <div>{{job.company.name}}</div>
      </a>
      <hr />
    </div>



    <!-- Right Side: Job Details -->
    <div class="col-md-6 offset-md-1">
      <router-outlet></router-outlet>
    </div>
  </div>